@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,300&display=swap");

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease;
}

.dark-mode,
h2,
h3,
h4,
p {
  background-color: #121212;
  background-image: linear-gradient(315deg, #121212 0%, #1d1d1d 74%);
  color: #fff;
}

h1 {
  text-align: center;
  font-size: 3em;
  color: #000;
  padding: 1.5em;
  transition: color 0.3s ease;
}

.dark-mode h1 {
  color: #fff;
}

h2 {
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  h4 {
    font-size: 16px;
  }
}

.showResults {
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5), 0 0 5px 5px rgba(0,0,0,0.5) inset;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .showResults {
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
  }
}

@media (min-width: 768px) {
  .showResults {
    max-width: 500px;
  }
}

@media (min-width: 1024px) {
  .showResults {
    max-width: 700px;
  }
}

input:focus + .animate {
  animation: fadeInOut 1s ease-in-out;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchBox > button:hover {
  background-color: #4db33d;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchBox > input {
  background-color: #f6f6f6;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
  width: 100%;
}

.searchBox > button {
  background-color: #00b4d8;
  height: 45px;
  border: none;
  color: white;
  box-shadow: 0px 3px 2px #00b4d8;
  cursor: pointer;
  padding: 0 15px;
  gap: 4px;
  border-radius: 10px;
}

.showResults {
  width: 100%;
  padding: 20px;
}

@media (min-width: 768px) {
  .searchBox {
    width: 500px;
    margin-bottom: 0;
  }

  .showResults {
    width: 500px;
  }
}

@media (min-width: 1024px) {
  .searchBox {
    width: 700px;
    margin-bottom: 0;
  }

  .showResults {
    width: 100%;
    max-width: 700px;
  }
}
